body{
    background-image: url('https://www.sp.senai.br/images/senai.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 20%;
}

h1{
    background-color: aqua;
}
h2{
    background-color: darkorange;
}

